Importing neccessary Libraries

In [213]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

Loading data into data frame

In [214]:
df=pd.read_csv(r"D:\downloads\CarDataSet.csv")

In [215]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

Checking for missing values and dtypes of columns

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

Droping irrelevent columns

In [217]:
df.drop(['New_Price','Unnamed: 0','Owner_Type','Seats','Location','Transmission'],axis=1,inplace=True)

Encoding of fuel type

In [218]:
df['Fuel_Type'].replace({'CNG' : 1 , 'Diesel' : 2 , 'Petrol' : 3},inplace=True)

Removing measure of units from columns

In [219]:
df.replace({
    'Mileage' : '[A-Za-z/]',
    'Engine' : '[A-Za-z]',
    'Power' : '[A-Za-z]'
},'',regex=True,inplace=True)

converting object to numeric

In [220]:
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

Dropping missing values

In [221]:
df.dropna(inplace=True)

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5874 entries, 0 to 6018
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5874 non-null   object
 1   Year               5874 non-null   int64
 2   Kilometers_Driven  5874 non-null   int64
 3   Fuel_Type          5874 non-null   object
 4   Mileage            5874 non-null   float64
 5   Engine             5874 non-null   float64
 6   Power              5874 non-null   float64
 7   Price              5874 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 413.0+ KB

In [223]:
df.corr()

C:\Users\dines\AppData\Local\Temp\ipykernel_10428\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Year,Kilometers_Driven,Mileage,Engine,Power,Price
Year,1.000000,-0.169396,0.285191,-0.067918,0.014612,0.299543
Kilometers_Driven,-0.169396,1.000000,-0.060669,0.093012,0.033470,-0.008298
Mileage,0.285191,-0.060669,1.000000,-0.636028,-0.537729,-0.340554
Engine,-0.067918,0.093012,-0.636028,1.000000,0.866303,0.658044
Power,0.014612,0.033470,-0.537729,0.866303,1.000000,0.772837
Price,0.299543,-0.008298,-0.340554,0.658044,0.772837,1.000000

As we can see Price is most correlated with Engine and Power

In [224]:
df = df[['Engine','Power','Price']]
X = df[['Engine','Power']]
y = df['Price']

splitting data into two parts for training and testing purposes

In [225]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=12)

creating linear regression object

In [226]:
model = LinearRegression(
    
)

training model

In [227]:
price = model.fit(x_train,y_train)

In [228]:
pred = price.predict(x_test)

In [229]:
pred

array([ 5.23008455,  3.19603095,  7.94806343, ...,  5.70941929,
       10.40225614,  5.65847223])

evaluating model's score

In [230]:
sc = r2_score(pred,y_test)
print(
    'R2 score of model:',sc
)

R2 score of model: 0.29247389375179